<body>
<div class="card">  
  <img src="../assets/111.jpg" alt="Card Image" class="card-img"  height="350px"> 
<div class="container">
  <div>
    <label for="cepInput">Digite o CEP :</label>
    <input id="cepInput" type="text" [(ngModel)]="cep"  placeholder="00000-000">
  </div>
  <button (click)="buscarCep()">Buscar</button>
  
  <div *ngIf="endereco && endereco.cep">
    <h2>Detalhes do Endereço</h2>
    <p><strong>CEP:</strong> {{ endereco.cep }}</p>
    <p><strong>Logradouro:</strong> {{ endereco.logradouro }}</p>
    <p><strong>Complemento:</strong> {{ endereco.complemento }}</p>
    <p><strong>Bairro:</strong> {{ endereco.bairro }}</p>
    <p><strong>Localidade:</strong> {{ endereco.localidade }}</p>
    <p><strong>UF:</strong> {{ endereco.uf }}</p>
  </div>
</div>
